@font-face {
    font-family: 'Futura New';
    src: url('../font/Futura-New/FuturaNewBook-Reg.eot');
    src: local('../font/Futura-New/Futura New Book Reg'), local('../font/Futura-New/FuturaNewBook-Reg'),
        url('../font/Futura-New/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
        url('../font/Futura-New/FuturaNewBook-Reg.woff2') format('woff2'),
        url('../font/Futura-New/FuturaNewBook-Reg.woff') format('woff'),
        url('../font/Futura-New/FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../font/Futura-New/FuturaNewMedium-Reg.eot');
    src: local('../font/Futura-New/Futura New Medium Reg'), local('../font/Futura-New/FuturaNewMedium-Reg'),
        url('../font/Futura-New/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'),
        url('../font/Futura-New/FuturaNewMedium-Reg.woff2') format('woff2'),
        url('../font/Futura-New/FuturaNewMedium-Reg.woff') format('woff'),
        url('../font/Futura-New/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../font/Futura-New/FuturaNewBold-Reg.eot');
    src: local('Futura New Bold Reg'), local('../font/Futura-New/FuturaNewBold-Reg'),
        url('../font/Futura-New/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
        url('../font/Futura-New/FuturaNewBold-Reg.woff2') format('woff2'),
        url('../font/Futura-New/FuturaNewBold-Reg.woff') format('woff'),
        url('../font/Futura-New/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* ------------- */
@font-face {
	font-family: "SchoolBook";
	src: url("../font/schoolbook-cyrillic/schoolbook-cyrillic.eot"); /* IE9 Compat Modes */
	src: url("../font/schoolbook-cyrillic/schoolbook-cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../font/schoolbook-cyrillic/schoolbook-cyrillic.otf") format("opentype"), /* Open Type Font */
		url("../font/schoolbook-cyrillic/schoolbook-cyrillic.svg") format("svg"), /* Legacy iOS */
		url("../font/schoolbook-cyrillic/schoolbook-cyrillic.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../font/schoolbook-cyrillic/schoolbook-cyrillic.woff") format("woff"), /* Modern Browsers */
		url("../font/schoolbook-cyrillic/schoolbook-cyrillic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SchoolBook";
	src: url("../font/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.eot"); /* IE9 Compat Modes */
	src: url("../font/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../font/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.otf") format("opentype"), /* Open Type Font */
		url("../font/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.svg") format("svg"), /* Legacy iOS */
		url("../font/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../font/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.woff") format("woff"), /* Modern Browsers */
		url("../font/schoolbook-bold-cyrillic/schoolbook-bold-cyrillic.woff2") format("woff2"); /* Modern Browsers */
	font-weight: Bold;
	font-style: normal;
}

/* ========== шрифты / ========== */
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box; 
}
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, li {
    padding: 0;
	 list-style: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
.container-big {
    max-width: 1790px;
    padding: 0 15px;
    margin: 0 auto;
}
.container {
    max-width: 1670px;
    padding: 0 15px;
    margin: 0 auto;
}
/* ======================================= */
.title-repeat {
    font-weight: normal;
    font-size: 80px;
    line-height: 137%;    
    color: #080606;    
}
.title-repeat-2 {
    font-family: 'SchoolBook';
    font-weight: normal;
    font-size: 40px;
    line-height: 133%;
    text-align: center;
    color: #080606;
}
.title-repeat-3 {
    font-family: 'SchoolBook';
    font-weight: normal;
    font-size: 30px;
    line-height: 133%;
    color: #080606;
}
.text-repeat {
    font-family: 'Futura New';
    font-weight: normal;
    font-size: 20px;
    line-height: 150%; 
    color: #59443F;
}
.text-repeat--20-25 {
    font-family: "Futura New";
    font-weight: normal;
    font-size: 20px;
    line-height: 125%;
    color: #080606;
}
.text-repeat-bold {
    font-family: 'Futura New';
    font-weight: bold;
    font-size: 20px;
    line-height: 150%; 
    color: #C3B9B5;
}
.link-repeat {
    font-family: 'Futura New';
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFC59E;
    text-transform: uppercase;
}
.global--min {
    font-family: 'Futura New';
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    color: #C3B9B5;
}
/* ======================================= */

/* ========== header ========== */
.header {
    padding-top: 30px;
    position: relative;
}
.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.header__block-logo {
    width: 100px;
}
.header__logo {
    width: 100px;
}
.header__ul {
    display: flex;
    gap: 80px;
}
.header__ul-li a {
    font-family: 'Futura New';
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #C3B9B5;
    text-transform: uppercase;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.header__ul-li a:hover {
    color: #FFC59E;
}
.header__map-link {
    display: flex;
    align-items: center;
}
.header__map-text {
    font-family: 'Futura New';
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFC59E;
}
.header__burger {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    display: none;
}
.burger {
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background: #C3B9B5;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.burger::before {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    top: -7px;
    position: absolute;
    background: #C3B9B5;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.burger::after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    bottom: -7px;
    position: absolute;
    background: #C3B9B5;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
/* ==== */
.burger-active {
    background: transparent;
}
.burger-active::before {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    top: 0px;
    position: absolute;
    background: #C3B9B5;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.burger-active::after {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    bottom: 0px;
    position: absolute;
    background: #C3B9B5;
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
}
/* ========== header /========== */

/* ========== main ========== */
.main {
    overflow: hidden;
    margin-bottom: 150px;
}
.main__slider {
    padding-left: 20%;
    /* border: 1px solid #ffa467; */
    margin-top: 100px;
    padding-top: 50px;    

}
.main__title {
    font-family: 'SchoolBook';
    font-weight: normal;
    font-size: 4vw;
    line-height: 137%;    
    color: #080606;
    margin-bottom: 50px;
}
.main__item-wrap {
    display: flex !important;
}
.main__block-text {
    flex: 0 0 50%;
}
.main__block-image {
    display: flex;
    flex: 0 0 50%;
    /* height: 100%; */
   justify-content: right;
   width: 100%;
   height: 100%;
}
/* slayd-global */
.slick-dots {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
    position: absolute;
    top: 50px;
    left: 5%;
}
.slick-dots  button {
    font-size: 20px;
    width: 30px;
    height: 30px;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #C3B9B5;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.slick-active button {
    border: 1px solid #C3B9B5;
    background: #ffeadcb9;
}
/* ====== */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Futura New';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    background: #FFC59E;
    box-shadow: 4px 4px 10px #FFC59E;
    width: 285px;
    height: 67px;
    border-radius: 33.5px;
    -webkit-border-radius: 33.5px;
    -moz-border-radius: 33.5px;
    -ms-border-radius: 33.5px;
    -o-border-radius: 33.5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.btn:hover {
    background: #ffa467;
} 
.main__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 95vw;
    margin: 0 auto;
    padding-left: 20%;
    /* pointer-events: none; */
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
}
.main__bottom-icon {
    display: flex;
    gap: 50px;
}
.main__bottom-icon a {
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.main__bottom-icon a:hover {
    margin-top: -3px;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.main__bottom-tel {
    position: absolute;
    right: 0;
    font-family: 'Futura New';
    font-weight: bold;
    font-size: 24px;
    line-height: 125%;
    color: #59443F;
}
/* ========== main /========== */

/* ========== specialists ========== */


.specialists__block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr )) ;
    gap: 24px;
    margin-bottom: 150px;
}
.specialists__block-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFEFE;
    min-height: 220px;
    padding: 24px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    /*border: 1px solid transparent;
    */border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.specialists__block-item:hover  {
    /* border: 1px solid #C3B9B5; */
    background: #ffa467;
}
.specialists__title-h3 {
    font-family: 'SchoolBook';
    font-weight: normal;
    font-size: 30px;
    line-height: 133%;
    color: #59443F;
    margin-bottom: 22px;
}

.specialists__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.specialists__subtitle-h4 {
    font-family: 'Futura New';
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: #59443F;
}
/* ========== specialists /========== */

/* ========== story /========== */
.story {
    padding: 150px 0;
    background: #FBF8F8;
}
.story__title-h2 {
    margin-bottom: 48px;
}
.story__text {
    max-width: 480px;
    margin: 0 auto 36px;
}
.story__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Futura New';
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #FFC59E;
    text-transform: uppercase;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.story__link-1 {
    margin-bottom: 100px;
}
.story__link span {
    margin-right: 5px;
}
.story__link:hover {
    color: #f59a5e;
}
.story__block {
    max-width: 1255px;
    margin: 0 auto;
    /* border: 1px solid #ffa467; */
    /* display: flex;
    justify-content: center; */
    padding: 0 45px;
    
}
.story__block-item img {
    margin: 0 auto;
}
/* ===== */
.story__block .slick-prev, .story__block .slick-next  {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #FFC59E;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.story__block .slick-prev {
    left: 0;
}
.story__block .slick-prev::before {
    content: url(../img/story/arow-left-slyder.svg);
    width: 12px;
    height: 12px;
    z-index: 2;
    position: absolute;
}
.story__block .slick-next  {
    right: 0;
}
.story__block .slick-next::before  {
    content: url(../img/story/arow-right-slyder.svg);
    width: 12px;
    height: 12px;
    z-index: 2;
    position: absolute;
}
.story__link-2 {
    margin-top: 35px;
}
/* ========== story /========== */

/* ========== remember ========== */

.remember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px 0;
}
.remember__block {
    max-width: 720px;
    text-align: center;
}
.remember__block-title {
    font-family: 'SchoolBook';
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 100%;
    color: #59443F;
    margin-bottom: 20px;
}
.remember__block-subtitle {
    font-family: 'Futura New';
    font-weight: normal;
    font-size: 80px;
    line-height: 137%;
    color: #080606;
}
.remember__block img {
    margin-left: auto;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

/* ========== remember /========== */

/* ========== we ========== */
.we {
    padding-bottom: 300px;
}
.we-title {
    margin-bottom: 100px;
}
.we__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px 50px;
}
.we__block-item {
    max-width: 485px;
    box-sizing: border-box;
}
.we-subtitle {
    margin-bottom: 35px;
}
.we__box {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-left: 30px;
}
.we__box-img {
    width: 80px;
}
.we__box-img img {
    margin: 0 auto;
}
.we__box-text {
    width: 320px;
}
/* .we__text {} */

/* ========== we /========== */

/* ========== appendix /========== */
.appendix {
    background: #FFC59E;
    padding: 200px 0 120px;
}
.appendix__container {
    max-width: 1475px;
}
.appendix__block {
    display: flex;
    flex-wrap: wrap;
}
.appendix__block-item {
    flex: 0 0 50%;
}
.appendix__block-text {
    max-width: 830px;
    margin: 0 auto;
}
.appendix__caption {
    font-family: 'Futura New';
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;  
    padding-top: 50px;
    margin-bottom: 30px;  
}
.appendix__titl {
    color: #FFFFFF;
    margin-bottom: 40px;
}
.appendix__grup-image {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
.appendix__img img {
    margin: 0 auto;
}
/* ========== appendix /========== */

/* ========== contacts /========== */
.contacts {
    padding: 230px 0 200px;
}
.contacts__title {
    text-align: left;
    margin-bottom: 70px;
}
.contacts__block {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.contacts__block-address { 
    width: 485px;
}
.contacts__address-wrap:first-child {
    margin-bottom: 40px;
} 
.contacts__subtitle {
    margin-bottom: 20px;
}
.contacts__grup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contacts__image {
    width: 46px;
    margin-right: 20px;
}
.contacts__block-map {
    width: 100%;
}        
.contacts__block-map iframe {
    width: 100%;
    height: 100%;
}
/* ========== contacts /========== */

/* ========== footer ========== */
.footer {
    background: #59443F;
    padding: 80px 0 60px;
}
.footer__block {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}
.footer__block-logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer__logo-img {
    width: 90px;
}
.footer__logo-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto auto; */
}
.footer__logo-text {
    margin-left: 22px;
}
.footer__logo-title {
    font-family: 'SchoolBook';
    font-weight: bold;
    font-size: 50px;
    line-height: 100%;
    color: #FFFFFF;    
    margin-bottom: 5px;
}
.footer__logo-subtitle {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
}
.footer__block-nav {
    margin-left: 114px; 
    display: flex;
    justify-content: space-between;
    gap: 50px 100px;   
    flex-wrap: wrap;
    max-width: 920px;
}

.footer__nav-inner {
    width: 200px;
}
.footer__nav-privacy {
    color: #FFFFFF;
}

.footer__menu-link {
    color: #FFFFFF;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
}
.footer__menu-link:hover {
    color: #FFC59E;
}

/* ===== */
.footer__box {
    max-width: 300px;
}
.footer__box-image {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-bottom: 40px;
}
.footer__box-image-pic {
    width: 140px;
}
.footer__box-image-pic:hover  {
    opacity: 0.8;
}
.footer__box-icon {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.footer__box-icon-img {
    width: 40px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.footer__box-icon-img:hover {
    margin-top: -3px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.footer__box-text {
    margin-bottom: 70px;
}
.footer__box-text-info {
    display: block;
    color: #FFFEFE;
}
.footer__box-text-end {
    display: flex;
    color: #FFFEFE;
}
.footer__box-text-end span {
    color: #000000;
}
/* ========== footer /========== */



/* ============== grid (обертка для страниц) ============= */
.grid {
    padding: 75px 0 75px;
}
.grid__container {
    max-width: 1460px;
    margin: 0 auto;
}
.grid__wr {
    display: flex;
    justify-content: right;
}
.grid__wr-top {
    width: 62%;
}
.grid__link {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.grid__link img {
    margin-right: 10px;
}
.grid__block {
    display: flex;
    justify-content: space-between;
}
.grid__block-sidebar {
    width: 33%;
    min-height: 200px;
}
.grid__block-aside {
    width: 62%;
    min-height: 200px;
}
/* ============== grid (обертка для страниц) /============= */



/* ========== therapy ========== */
.therapy__sidebar-title {
    margin-bottom: 100px;
}
.therapy__aside-box {
    margin-bottom: 30px;
}
.therapy__aside-title {
    margin-bottom: 30px;
}
.therapy__top-image {
    margin-bottom: 50px;
}
.therapy__sidebar-text {
    margin-bottom: 30px;
    color: #C3B9B5;
}
.therapy__aside-text {
    margin-bottom: 30px;
}
.therapy__aside-ul {
    margin-bottom: 70px;
}
.therapy__aside-box-image {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 30px;
}
.therapy__aside-image {
    width: 50%;
}
/* ========== therapy /========== */

/* ========== cabinet ========== */
.cabinet {
    padding: 65px 0 0;
    margin: 0 auto;
    max-width: 1460px;
    position: relative;
}
.cabinet__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cabinet__block-sidebar {
    max-width: 400px;
    margin-right: 115px;
    position: sticky;
    top: -50px;
    left: 0px;
    height: 550px;
}
.cabinet__block-sidebar h2 {
    padding: 60px 0 100px;
    font-family: 'SchoolBook';
}
.sidebar__btn {
    display: block;
    text-transform: uppercase;
    margin-bottom: 30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.sidebar__btn:hover {
    /* color: #ffa467; */
    color: #FFC59E;
}
.cabinet__block-content {
    max-width: 910px;
    margin: 0 0 100px auto;
}
/* ----- persdat ----- */
.persdat-wrar-txt {
    margin-bottom: 10px;
}
.persdat {
    border: 1px solid #EDE9E8;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    margin-bottom: 100px;
}
.persdat__foto-image {
    width: 130px;
    height: 130px;
}
.persdat__btn {
    display: block;
    margin: 30px auto;
    border: none;
    background: none;
}
.persdat__btn:hover {
    color: #FFC59E;
}
.persdat__human {
    max-width: 250px;
    margin: 0 30px;
}
.persdat__human-title  {
    margin-bottom: 10px;
}
.persdat__human-subtitle {
    margin-bottom: 20px;
}
.persdat__human-subtitle-mb50 {
    margin-bottom: 65px;
}
.persdat__human-subtitle:last-child {
    margin-bottom: 0;
}
.persdat__about {
    max-width: 410px;
}
.persdat__about-mt {
    margin-top: 60px;
}
.persdat__about-title {
    margin-bottom: 10px;
}
.pet-add__title {
    margin-bottom: 30px;
}
.persdat__about-text {
    margin-bottom: 30px;
}

.pet-add__btn {
    width: 100%;
    display: flex;
    align-items: center;
    background: #FFC59E;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    padding: 10px 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.pet-add__btn:hover {
    background: #ffac75;
}
.pet-add__btn-text {
    font-family: "Futura New";
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    margin-left: 30px;
}
.persdat__human-bold {
    margin-bottom: 20px;
}
.persdat__about-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 15px;
    margin: 15px 0 10px;
}
.persdat__about-box-mb30 {
    margin-bottom: 30px;
    padding: 30px 15px;
}
.persdat__about-box-study {
    display: flex;
    align-items: center;
}
.persdat__about-box-study span {
    display: inline-flex;
    margin-left: 10px;

}
/* ----- persdat /----- */

/* ========== cabinet /========== */



/* ===================================== */
.class-mi {
    background: rgb(222, 245, 255);
    min-height: 200px;
    margin-top: 120px;
}

.galleri {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}
.galleri a {
    display: inline-flex;
    width: 300px;

}

/* ========= Медиа ========= */
/* ========= Медиа ========= */
/* ========= Медиа ========= */

/* ====== Медиа 1600px ====== */
@media (max-width: 1600px) {
    .main__title {
        font-size: 4vw;
    }
    .cabinet__block-sidebar {
        width: 235px;
    }
    .cabinet__block-sidebar h2 {
        padding: 60px 0 60px;
        font-size: 45px;
    }
}
/* ====== Медиа 1600px /====== */

/* ====== Медиа 1380px ====== */
@media (max-width: 1380px) {
    .header {
        padding-top: 0px;
        position: relative;
    }
    .header__block-nav {
        position: absolute;
        display: none;
        top: 130px;
        left: 0;
        width: 100%;
        padding: 0 15px;
        z-index: 1;
        background: #FFFFFF;
        height: 70px;
    }
    .header__ul {
        justify-content: space-between;
        
    }
    .header__burger {
        display: flex;
    }
    .main {
        overflow: hidden;
        margin-bottom: 75px;
    }
    .main__bottom {
        padding-left: 18%;
        transform: translateY(-52px);
        -webkit-transform: translateY(-52px);
        -moz-transform: translateY(-52px);
        -ms-transform: translateY(-52px);
        -o-transform: translateY(-52px);
    }
    .we {
        padding-bottom: 200px;
    }
    .appendix {
        padding: 130px 0 100px;
    }
    .appendix__caption {
        padding-top: 0;
    }
    .contacts {
        padding: 150px 0 150px;
    }
    .footer__block-item {
        width: 100%;
    }
    .footer__block-logo {
        margin-bottom: 50px;
    }
    .footer__block-nav {
        margin-left: 0;
        display: flex;
        justify-content: space-between;
        gap: 50px 50px;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .grid__block-sidebar {
        width: 34%;
    }
    .therapy__sidebar-title {
        font-size: 50px;
    }
    .therapy__aside-box-image {
        gap: 30px;
    }

}
/* ====== Медиа 1300px ====== */
@media (max-width: 1300px) {
    .cabinet {
        min-width: 100%;
    }
    .cabinet__block-sidebar h2 {
        padding: 30px 0 60px;
        font-size: 40px;
    }
    .cabinet__block-sidebar {
        max-width: 200px;
        margin-right: 0;
        top: -37px;
    }
}
/* ====== Медиа 1300px /====== */

/* ====== Медиа 1200px ====== */
@media (max-width: 1200px) {
    .cabinet__block-sidebar h2 {
        padding: 30px 0 50px;
        font-size: 30px;
    }
    .cabinet__block-sidebar {
        max-width: 180px;
        top: -30px;
    }
    .sidebar__btn {
        margin-bottom: 25px;
        font-size: 18px;
    }
}
/* ====== Медиа 1200px /====== */

/* ====== Медиа 1380px /====== */

/* ====== Медиа 1140px ====== */
@media (max-width: 1140px) {
    .appendix__block {
        flex-direction: column;
    }
    .cabinet__block-sidebar {
        display: none;
    }
    .cabinet__block-content {
        margin: 0 auto;
    }
    .persdat__human {
        margin: 0 30px 30px;
    }
    .persdat {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .persdat__btn {
        margin: 0px 0 30px 23px;
    }
}
/* ====== Медиа 1140px /====== */

/* ====== Медиа 998px ====== */
@media (max-width: 998px) {
    .header__block-nav {
        height: 100vh;
    }
    .header__ul {
        flex-direction: column;
        justify-content: start;
        gap: 40px;
    }
    .btn {
        font-size: 18px;
        width: 200px;
        height: 50px;
    }
    .main__bottom {
        padding-left: 17.5%;
        transform: translateY(-45px);
        -webkit-transform: translateY(-45px);
        -moz-transform: translateY(-45px);
        -ms-transform: translateY(-45px);
        -o-transform: translateY(-45px);
}
    .main__bottom-icon {
         gap: 30px;
    }
    .main__bottom-icon img {
        width: 40px;
    }
    .specialists__block {
        margin-bottom: 100px;
    }
    .story {
        padding: 75px 0;
    }
    .story__link-1 {
        margin-bottom: 50px;
    }
    .remember {
        padding: 170px 0 100px;
    }
    .contacts {
        padding: 100px 0 100px;
    }
    .grid {
        padding: 50px 0;
    }
    .grid__wr {
        justify-content: left;
    }
    .grid__wr-top {
        width: 100%;
    }
    .grid__block {
        flex-direction: column;
    }
    .grid__block-sidebar {
        width: 100%;
    }
    .grid__block-aside {
        width: 100%;
    }
    .grid__link {
        margin-bottom: 30px;
    }
    .therapy__sidebar-title {
        margin-bottom: 40px;
    }
    
}
/* ====== Медиа 998px /====== */

/* ====== Медиа 768px ====== */
@media (max-width: 768px) {
    .main__slider {
        padding-left: 16%;
        margin-top: 0px;
        padding-top: 50px;
    }
    .main__title {
        font-size: 4.7vw;
    }
    .main__bottom {
        display: none;
    }
    .btn {
        font-size: 16px;
        width: 150px;
        height: 40px;
    }
    .specialists__block {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr ));
    }
    .main__slider .slick-dots {
        height: 85%;
        top: 40px;
        left: 4%;
    }
    .main {
        margin-bottom: 50px;
    }
    .remember__block-title {
        font-size: 18vw;
        margin-bottom: 20px;
    }
    .remember__block-subtitle {
        font-size: 10vw;
    }
    .we {
        padding-bottom: 100px;
    }
    .appendix {
        padding: 75px 0 75px;
    }
    .appendix__titl {
        font-size: 10vw;
    }
    .contacts {
        padding: 75px 0 75px;
    }
    .contacts__block {
        flex-direction: column;
    }
    .contacts__block-address {
        width: 100%;
    }
    .contacts__block-map {
        width: 100%;
        height: 100vh;
    }
    .therapy__top-image {
        margin-bottom: 30px;
    }
    .pet-add__btn {
        padding: 5px 15px;
        margin-bottom: 30px;
    }
    .pet-add__btn img {
        width: 75px;
    }
    .pet-add__btn-text {
        font-size: 18px;
    }
    .persdat__human {
        margin: 0 0px 30px;
    }
    .persdat__about-mt {
        margin-top: 15px;
    }
    .persdat {
        margin-bottom: 30px;
    }
    .pet-add__title {
        margin-bottom: 10px;
    }
}
/* ====== Медиа 768px /====== */

/* ====== Медиа 650px ====== */
@media (max-width: 650px) {
    .main__title {
        margin-bottom: 35px;
    }
}
/* ====== Медиа 650px /====== */

/* ====== Медиа 550px ====== */
@media (max-width: 550px) {
    .we-subtitle {
        text-align: center;
    }
    .we__box {
        padding-left: 0px;
        flex-direction: column;
        gap: 25px 0;
    }
}
/* ====== Медиа 550px /====== */

/* ====== Медиа 500px ====== */
@media (max-width: 500px) {
    .header__block-map {
        display: none;
    }
    .main__item-wrap {
        flex-direction: column;
    }
    .main__title {
        font-size: 9vw;
        margin-bottom: 35px;
    }
    .main__slider {
        padding-left: 18%;
    }
    .main__slider .slick-dots {
        top: 60px;
    }
    .remember__block img {
        margin-left: auto;
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }
    .we {
        padding-bottom: 75px;
    }
}
/* ====== Медиа 500px /====== */

/* ====== Медиа 450px ====== */
@media (max-width: 450px) {
    .cabinet {
        padding: 56px 0 0;
    }
    .pet-add__title {
        text-align: center;
    }
    .pet-add__btn {
        padding: 15px 15px;
        margin-bottom: 30px;
        flex-direction: column;
    }
    .persdat__foto-image {
        width: 100px;
        height: 100px;
    }
    .persdat__btn {
        margin: 0px 0 30px 8px;
    }
    .pet-add__btn-text {
        margin-left: 0;
    }
    .persdat__about-box {
        flex-direction: column;
        align-items: flex-start;
    }
    .persdat__about-box-study {
        justify-content: left;
        width: 100%;
        margin-bottom: 8px;
    }
    .persdat-wrar-txt {
        text-align: center;
    }
}
/* ====== Медиа 450px /====== */

/* ====== Медиа 400px ====== */
@media (max-width: 400px) {
    .header__logo {
        width: 75px;
    }
    .main {
        margin-bottom: 15px;
    }
    .specialists__block {
        gap: 15px;
        margin-bottom: 50px;
    }
    .specialists__block-item {
        min-height: 190px;
        padding: 15px 24px 24px;
    }
    .story {
        padding: 50px 0;
    }
    .story__text {
        margin: 0 auto 20px;
    }
        .story__link {
            font-size: 16px;
    }
    .story__link-1 {
        margin-bottom: 40px;
    }
    .remember {
        padding: 75px 0 0px;
    }
    .we__block {
        gap: 50px 0;
    }
    .we-title {
        margin-bottom: 50px;
    }
    .we__box {
        gap: 15px 0;
    }
    .appendix {
        padding: 50px 0 50px;
    }
    .appendix__grup-image {
        gap: 5%;
        justify-content: space-between;
    }
    .contacts {
        padding: 50px 0 50px;
    }
    .contacts__subtitle {
        font-size: 28px;
    }
    .contacts__title {
        margin-bottom: 30px;
    }
    .footer {
        padding: 50px 0 20px;
    }
    .footer__logo-img {
        width: 75px;
    }
    .footer__logo-title {
        font-size: 45px;
    }
    .grid {
        padding: 20px 0 30px;
    }
    .grid__link {
        margin-bottom: 25px;
        font-size: 15px;
    }
    .therapy__sidebar-title {
        font-size: 11vw;
        line-height: 125%;
        margin-bottom: 30px;
    }
    .therapy__sidebar-text {
        font-size: 18px;
    }
    .therapy__top-image {
        margin-bottom: 30px;
    }
    .therapy__aside-title {
        margin-bottom: 15px;
    }
    .therapy__aside-text {
        margin-bottom: 15px;
    }
    .therapy__aside-ul {
        margin-bottom: 40px;
    }
    .therapy__aside-box-image {
        gap: 3%;
        margin-bottom: 15px;
    }
}


/* ====== Медиа 400px /====== */

/* ====== Медиа 380px ====== */
@media (max-width: 380px) {
    .story__title-h2 {
        font-size: 10vw;
        margin-bottom: 20px;
    }    
}
/* ====== Медиа 380px /====== */

/* ====== Медиа 360px ====== */
@media (max-width: 360px) {
    .we-subtitle { 
        font-size: 8.2vw;
    }
    .we__box-text {
        width: 100%;
    }
}
/* ====== Медиа 360px /====== */

/* ====== Медиа 0px ====== */
@media (max-width: 0px) {}
/* ====== Медиа 0px /====== */